<header>
  <nav class="navbar">
    <a class="navbar-brand" routerLink="#">Recipes</a>
    <ul class="nav">
      <li class="nav-item"><a class="nav-link" routerLink="#">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="#">About</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="#">Services</a></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact">Contact</a>
      </li>
    </ul>
    <button (click)="toggleTheme()">Toggle Theme</button>
  </nav>
</header>
