// header.component.scss
@import '../../../styles.scss'; // Adjust the path as necessary

button{
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 1px solid var(--secondary-color);
    cursor: pointer;
    border-radius: 8px; 
    padding: 10px 15px;
    &:hover{
        background-color: var(--primary-color-light);
    }
}