@use "sass:math";
header {
  background-color: var(--primary-color);
  padding: $spacing-unit;
  position: sticky;
  top: 0;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar-brand {
      color: white;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: bold;
      &:hover {
        color: lighten($primary-color, 20%);
      }
    }
    .nav {
      list-style: none;
      display: flex;
      gap: math.div($spacing-unit, 2);
      .nav-link {
        text-decoration: none;
        color: white;
        &:hover {
          color: lighten($primary-color, 20%);
        }
      }
    }
  }
  @include respond-to("small") {
    .navbar {
      flex-direction: column;
    }
  }
}
