// _themes.scss

@import 'variables'; // Ensure this import is present at the top

// Mixin to apply light theme
@mixin light-theme {
  --primary-color: #{$light-primary-color};
  --secondary-color: #{$light-secondary-color};
  --background-color: #{$light-background-color};
  --text-color: #{$light-text-color};

  // Additional variables for the home section
  --section-background-color: #{$light-section-background-color};
  --section-text-color: #{$light-section-text-color};
  --heading-text-color: #{$light-heading-text-color};
  --paragraph-text-color: #{$light-paragraph-text-color};
  --button-text-color: #{$light-button-text-color};
  --button-background-color: #{$light-button-background-color};
  --button-hover-background-color: #{$light-button-hover-background-color};
}

// Mixin to apply dark theme
@mixin dark-theme {
  --primary-color: #{$dark-primary-color};
  --secondary-color: #{$dark-secondary-color};
  --background-color: #{$dark-background-color};
  --text-color: #{$dark-text-color};

  // Additional variables for the home section
  --section-background-color: #{$dark-section-background-color};
  --section-text-color: #{$dark-section-text-color};
  --heading-text-color: #{$dark-heading-text-color};
  --paragraph-text-color: #{$dark-paragraph-text-color};
  --button-text-color: #{$dark-button-text-color};
  --button-background-color: #{$dark-button-background-color};
  --button-hover-background-color: #{$dark-button-hover-background-color};
}

// Soft Pastels - Light Theme Mixin
@mixin soft-pastels-light-theme {
  --primary-color: #{$soft-light-primary-color};
  --primary-color-light: #{$soft-light-primary-color-light};
  --secondary-color: #{$soft-light-secondary-color};
  --background-color: #{$soft-light-background-color};
  --text-color: #{$soft-light-text-color};
}

// Soft Pastels - Dark Theme Mixin
@mixin soft-pastels-dark-theme {
  --primary-color: #{$soft-dark-primary-color};
  --primary-color-light: #{$soft-dark-primary-color-light};
  --secondary-color: #{$soft-dark-secondary-color};
  --background-color: #{$soft-dark-background-color};
  --text-color: #{$soft-dark-text-color};
}
