// _themes.scss

// Light theme variables
$light-primary-color: #007bff;
$light-secondary-color: #f8f9fa;
$light-background-color: #ffffff;
$light-text-color: #212529;

// Dark theme variables
$dark-primary-color: #375a7f;
$dark-secondary-color: #444;
$dark-background-color: #343a40;
$dark-text-color: #e9ecef;

// Soft Pastels - Light theme variables
$soft-light-primary-color: #4a5568; // Charcoal
$soft-light-primary-color-light: #718096; // Lighter version of the primary color
$soft-light-secondary-color: #edf2f7; // Soft White
$soft-light-background-color: #ffffff; // Pure white background
$soft-light-text-color: #2d3748; // Dark Gray

// Soft Pastels - Dark theme variables
$soft-dark-primary-color: #edf2f7; // Soft White for primary elements
$soft-dark-primary-color-light: #e2e8f0; // Lighter version of the primary color
$soft-dark-secondary-color: #2d3748; // Dark Slate
$soft-dark-background-color: #1a202c; // Very dark background
$soft-dark-text-color: #f7fafc; // Very light gray text

// Mixin to apply light theme
@mixin light-theme {
  --primary-color: #{$light-primary-color};
  --secondary-color: #{$light-secondary-color};
  --background-color: #{$light-background-color};
  --text-color: #{$light-text-color};
}

// Mixin to apply dark theme
@mixin dark-theme {
  --primary-color: #{$dark-primary-color};
  --secondary-color: #{$dark-secondary-color};
  --background-color: #{$dark-background-color};
  --text-color: #{$dark-text-color};
}

// Mixin to apply Soft Pastels light theme
@mixin soft-pastels-light-theme {
  --primary-color: #{$soft-light-primary-color};
  --primary-color-light: #{$soft-light-primary-color-light};
  --secondary-color: #{$soft-light-secondary-color};
  --background-color: #{$soft-light-background-color};
  --text-color: #{$soft-light-text-color};
}

// Mixin to apply Soft Pastels dark theme
@mixin soft-pastels-dark-theme {
  --primary-color: #{$soft-dark-primary-color};
  --primary-color-light: #{$soft-dark-primary-color-light};
  --secondary-color: #{$soft-dark-secondary-color};
  --background-color: #{$soft-dark-background-color};
  --text-color: #{$soft-dark-text-color};
}
