<div class="home-section">
  <h2>Explore Our Latest Recipes</h2>
  <p>
    Discover insightful articles and updates on various topics. Click the button
    below to explore our recipe section.
  </p>

  <!-- Conditionally show loader or button -->
  <div *ngIf="isLoading$ | async" class="loader">
    <div class="spinner"></div> <!-- Spinner element -->
  </div>

  <button 
    *ngIf="!(isLoading$ | async)" 
    class="explore-button" 
    routerLink="/main-content" 
    (click)="goToRecipes()"
  >
    Go to Recipes
  </button>
</div>
