@use "sass:math";
@import "../../../styles.scss";
.main-content {
  padding: $spacing-unit;
  h1 {
    font-family: $font-family;
    margin-bottom: math.div($spacing-unit, 2);
  }
  @include respond-to("small") {
    padding: math.div($spacing-unit, 2);
  }
}
